<configuration>

    <!-- Root level -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set specific log level for JBoss Logging (used by Hibernate) -->
    <logger name="org.jboss.logging" level="WARN" />

    <!-- Optionally, adjust Hibernate's logging -->
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.hibernate.SQL" level="ERROR" />
    <logger name="org.hibernate.type" level="ERROR" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
